body {
    background-color: black;
    overflow: hidden;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80vw;

    background: linear-gradient(-233deg, rgba(84, 206, 243, 0.658) 45%, rgba(0, 0, 0, 0) 65%) no-repeat;
}

main .foto {
    display: none;
    height: 100vh;
}

main .foto.selecionado {
    display: block;
}

main .foto .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
    z-index: 1;
}

.conteudo .nome-foto {
    color:rgb(70, 2, 55);
    font-size: 48px;
    font-family: "Young Serif";
    font-weight: 400;
    margin-bottom: 24px;
}

.conteudo .descricao {
    color: rgb(70, 2, 55);
    font-family: "Nunito";
    line-height: 24px;
}

/* .conteudo .logo {
    background-image: url("../imagens/logo.png");
    background-size: cover;
    width: 230px;
    height: 100px;
    margin-bottom: 35px;
} */

.botoes {
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 180px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(248, 133, 38, 0.432);
}

.botoes .botao {
    border: none;
    background: #fa7b048a;
    cursor: pointer;
    border-radius: 50%;
}

.botoes .botao img {
    border-radius: 50%;
}

.botoes .botao.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 10px #D9D9D9;
}